# ==========================================
# Настройки Remnawave API
# ==========================================
# URL вашей панели (с указанием https:// и без слеша на конце).
PANEL_URL=https://panel.your-domain.com

# API Токен (создается в панели: System -> API Tokens)
API_TOKEN=rw_YOUR_TOKEN_HERE

# ==========================================
# Настройки генерации роутинга
# ==========================================
# Ссылка, по которой ваш веб-сервер будет отдавать файл routing.json (Autorouting)
AUTOROUTING_URL=https://panel.your-domain.com/routing.json

# Интервал обновления баз (в секундах). 21600 = 6 часов
UPDATE_INTERVAL_SECONDS=21600